<div id="round">Round: {{round}}</div>
{{#you?}}
<div id="you">You: {{you}}</div>
<div id="loot">Loot: {{loot}}</div>
<div id="your_artifacts">Your artifacts:
  {{#artifacts}}
    <div>{{.}}</div>
  {{/artifacts}}
</div>
{{/you?}}
<div id="deck_artifacts">Artifacts in deck:
  {{#artifacts}}
    <div>{{.}}</div>
  {{/artifacts}}
</div>
<div id="captured">Captured:
  {{#captured}}
    <div>{{.}}</div>
  {{/captured}}
</div>
<div id="table">On table:
  {{#table}}
    <div>{{.}}</div>
  {{/table}}
{{#pot?}}
  <div id="pot">Loose gold: {{pot}}</div>
{{/pot?}}
<div id="players">Players
  {{#players}}
    <div>{{name}}: {{move}}</div>
  {{/players}}
</div>
<form method="post" action="{{game_name}}/move">
  <input type="hidden" name="move" value="han" />
  <input type="submit" value="Han" />
</form>
<form method="post" action="{{game_name}}/move">
  <input type="hidden" name="move" value="lando" />
  <input type="submit" value="Lando" />
</form>
