<!DOCTYPE html>
<html>
  <body>
    <form action="/{{room}}/buffer" method="post">
      {{#user}}
        <textarea name="message"></textarea>
      {{/user}}
      {{^user}}
        <input type="text" name="user" />
      {{/user}}
     <input type="submit" />
    </form>
  </body>
</html> 
