<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
  <body>
    <hr size="1" width="100%" noshade="noshade">
    <form action="/{{room}}/buffer" method="post">
      {{#user}}
        <label for="message">{{user}} <small><blink>&gt;</blink></small> </label>
        <input type="text" size="50" name="message" />
        <input type="submit" value="Chat" />
      {{/user}}
      {{^user}}
        <label for="user">Enter your name to join the room:</label>
        <input type="text" maxlength="15" size="15" name="user" />
        <input type="submit" value="Join" />
      {{/user}}
    </form>
  </body>
</html> 
