<!DOCTYPE html>
<html>
  <meta http-equiv="refresh" content="1; url=?id={{id}}" />

  <body>
    <ul id="messages">
      {{#messages}}
        <li>{{name}}: {{message}}</li>
      {{/messages}}
    </ul>
  </body>
</html> 
