<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
  <head>
    <title>Error!</title>
  </head>
  <body>
    <p class="error">
      An error occurred: {{error_code}}.
      Return <a href="/" target="_top">home</a>.
    </p>
  </body>
</html>
