{{#game}}
  <div class="players">
    {{#players}}
      <div>{{name}}: {{state}}</div>
    {{/players}}
  </div>
  <div class="table">
    In play:
    {{#table}}
      <span class="card">{{.}}</span>
    {{/table}}
  </div>
  <div class="captured">
    Loot captured:
    {{#captured}}
      <span class="card">{{.}}</span>
    {{/captured}}
  </div>
  <div class="pot">Pot: {{pot}}</div>
  {{#round}}
    <div class="round">Round: {{round}}</div>
  {{/round}}
  {{^round}}
  <div class="round">Game has not yet started.</div>
  {{/round}}
  <div class="artifacts_destroyed">
    Artifacts destroyed:
    {{#artifacts_destroyed}}
      <span class="card">{{.}}</span>
    {{/artifacts_destroyed}}
  </div>
  <div class="artifacts_seen_count">
    Artifacts seen: {{artifacts.seen.count}}
  </div>
  <div class="artifacts_in_play">
    Artifacts in play:
    {{#artifacts_in_play}}
      <span class="card">{{.}}</span>
    {{/artifacts_in_play}}
  </div>
{{/game}}