<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
  <head>
    <title>No.JS Chat Rooms</title>
  </head>
  <frameset rows="*,70px">
    <frame frameborder="0" noresize="noresize" src="/rooms" />
    <frame frameborder="0" scrolling="no" marginheight="2" noresize="noresize" src="/create" />
  </frameset>
</html> 
