<!DOCTYPE html>
<html>
  <title>No-JS Chat Rooms</title>
  <body>
    <img align="left" src="logo.png" />
    <h1>No-JS Chat Rooms</h1>
    <hr>
    <table id="rooms">
      {{#rooms}}
        <tr>
          <td class="room"><a href="/{{name}}/">{{name}}</a></td>
          <td class="users"><i>({{users}})</i></td>
        </tr>
      {{/rooms}}
    </table>
    <hr>
    <form action="/" method="get">
      <label for="room">Create a new room:</label>
      <input type="text" size="15" maxlength="15" name="room" />
      <input type="submit" value="Create" />
    </form>
  </body>
</html> 
