<!DOCTYPE html>
<html>
  <noscript>
    <meta http-equiv="refresh" content="1; url=?id={{id}}" />
  </noscript>

  <!-- require.js -->
  <script data-main="{{js_path}}/main" src="{{js_path}}/require.js"  type="text/javascript"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/default.css" />

  <title>
    {{#game}}Opengold{{/game}}
    {{^game}}Opengold Games{{/game}}
  </title>

  <body>
    {{#error}}
      <div id="error">
        Ohnoes! There was an error: &quot;{{error}}&quot;.
      </div>
    {{/error}}

    <div id="app">
      {{^game}}
        {{> create}}
        <div id="list">
          {{> list}}
        </div>
      {{/game}}

      {{^games}}
        <a href="/">Other games</a>
        {{! CURENT GAME STATE }}
        <div id="game">
          {{> game}}
        </div>

        {{! IN-GAME BLOCK }}
        <div id="you">
          {{> you}}
        </div>

        <div id="chat">
          {{> chat}}
        </div>

        {{! UPDATES FOR CURRENT GAME }}
        <div id="updates">
          {{> updates}}
        </div>
      {{/games}}
    </div>

    <noscript>
      <div class="noscript">
        You've disabled javascript!
        That's groovy.
        I hope you&apos;re OK with the page wiping your chatbox whenever something happens.
      </div>
    </noscript>
  </body>
</html>