<html>

  <noscript>
    {{! refresh on game state updates}}
    {{#state}}
      <meta http-equiv="refresh" content="1; url=?id={{id}}" />
    {{/state}}
  </noscript>

  <!-- require.js -->
  <script data-main="/js/main" src="http://requirejs.org/docs/release/1.0.4/minified/require.js"  type="text/javascript"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/default.css" />

  <body>
    {{#error}}
      <div id="error">
        Ohnoes! There was an error: &quot;{{error}}&quot;.
      </div>
    {{/error}}

    {{^state}}
    {{> create}}
    {{> list}}
    {{/state}}

    {{> game}}

    <noscript>
      <div class="noscript">
        You've disabled javascript!
        That's groovy.
        I hope you&quot;re OK with the page wiping your chat whenever something happens.
      </div>
    </noscript>
  </body>
</html>