<!DOCTYPE html>
<html>
  <head>
    <title>{{room}}</title>
  </head>
  
  <frameset rows="*,100px">
    <frame noresize="noresize" src="/{{room}}/messages" />
    <frame noresize="noresize" src="/{{room}}/buffer" />
  </frameset>
</html> 
