<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
  <head>
    <meta http-equiv="refresh" content="{{refresh}}" />
  </head>
  <body>
    <img hspace="4" align="left" src="https://raw2.github.com/talos/no.js/master/assets/img/logo.gif" alt="logo" width="118" height="33" />
    <h1>No.JS Chat Rooms</h1>
    <h3>Real-time chat, nary a line of client-side code.</h3>
    <h5><a href="/assets/img/ie4.jpg" target="_blank">IE4-tested</a>, mother-approved. <a href="http://www.github.com/talos/no.js">Show me the code.</a></h5>
    <hr noshade="noshade" size="1" width="100%">
    <table id="rooms">
      {{#rooms}}
        <tr class="room">
          <td class="name"><a target="_top" href="/{{name}}/">#{{name}}</a></td>
          <td class="users"><i>({{users}})</i></td>
        </tr>
      {{/rooms}}
    </table>
  </body>
</html>
