{{#you}}
  {{! CURRENT PLAYER STATE }}
  <div>Name: {{name}}</div>
  <div>Loot: {{loot}}</div>
  <div>Artifacts captured:
    {{#artifacts.captured}}
      <span class="card">{{.}}</span>
    {{/artifacts.captured}}
  </div>

  {{! SO MANY CHOICES }}
  <div class="state">
    {{#joined}}
      <form action="start" method="post">
        <input type="submit" value="Start Game" />
      </form>
    {{/joined}}
    {{#camp}}You're safe at camp.{{/camp}}
    {{#undecided}}
      Wither thou?
      <form action="move" method="post">
        <input type="hidden" name="move" value="han">
        <input type="submit" value="Han" />
      </form>
      <form action="move" method="post">
        <input type="hidden" name="move" value="lando">
        <input type="submit" value="Lando" />
      </form>
    {{/undecided}}
    {{#han}}You're going Han.{{/han}}
    {{#lando}}Lando-ing out.{{/lando}}
    {{#won}}Congrats dude, ya won.{{/won}}
    {{#lost}}Sorry bra, this was not your night.{{/lost}}
  </div>
{{/you}}
{{! JOIN GAME IF NOT STARTED YET }}
{{^you}}
{{#game}}
  {{^round}}
  <form action="join" method="post">
    <label for="name">Join this game as:</label>
    <input type="text" name="player" />
    <input type="submit" value="Join" />
  </form>
  {{/round}}
{{/game}}
{{/you}}
